################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinancialTransactionListener/obj/Release/netcoreapp3.1
