################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinancialTransactionListener.Tests/obj
/FinancialTransactionListener/obj
/.vs
